<web-app>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaCheck</servlet-name>
        <servlet-class>app.servlets.AreaCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>app.servlets.HistoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCheck</servlet-name>
        <url-pattern>/area-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LastModifiedFilter</filter-name>
        <filter-class>app.filters.LastModifiedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LastModifiedFilter</filter-name>
        <url-pattern>/history</url-pattern>
    </filter-mapping>
</web-app>
